<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="MageSuite\ProductPositiveIndicators\Parser\TopAttributeInterface"
                type="MageSuite\ProductPositiveIndicators\Parser\TopAttribute" />

    <preference for="MageSuite\ProductPositiveIndicators\Service\DeliveryDataProviderInterface"
                type="MageSuite\ProductPositiveIndicators\Service\DeliveryDataProvider" />

    <preference for="MageSuite\ProductPositiveIndicators\Service\FreeShippingInterface"
                type="MageSuite\ProductPositiveIndicators\Service\FreeShipping" />

    <preference for="MageSuite\ProductPositiveIndicators\Api\OrderQueueLengthUpdaterInterface"
                type="MageSuite\ProductPositiveIndicators\Service\OrderQueueLengthUpdater" />

    <type name="Magento\Catalog\Block\Adminhtml\Product\Attribute\Edit\Tabs">
        <plugin name="add_top_attribute_tabs_plugin"
                type="MageSuite\ProductPositiveIndicators\Plugin\AddTopAttributeTab"/>
    </type>

    <type name="Magento\Catalog\Model\ResourceModel\Eav\Attribute">
        <plugin name="calculate_top_attribute_plugin"
                type="MageSuite\ProductPositiveIndicators\Plugin\CalculateTopAttribute"/>
    </type>

    <type name="Smile\ElasticsuiteCatalog\Model\Autocomplete\Product\ItemFactory">
        <plugin name="add_indicators_to_search_flyout" type="\MageSuite\ProductPositiveIndicators\Plugin\AddIndicatorsToSearchFlyout" sortOrder="10"/>
    </type>

    <type name="Magento\Catalog\Block\Product\View\Attributes">
        <plugin name="add_top_attribute_badge" type="\MageSuite\ProductPositiveIndicators\Plugin\Catalog\Block\Product\View\Attributes\AddTopAttributeBadge"
                sortOrder="10"/>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="cs_indicator_top_attribute_refresh" xsi:type="object">MageSuite\ProductPositiveIndicators\Console\Command\TopAttributeRefresh</item>
                <item name="cs_indicator_popular_icon" xsi:type="object">MageSuite\ProductPositiveIndicators\Console\Command\PopularIcon</item>
                <item name="cs_indicator_recently_bought" xsi:type="object">MageSuite\ProductPositiveIndicators\Console\Command\RecentlyBought</item>
            </argument>
        </arguments>
    </type>

    <type name="MageSuite\ProductPositiveIndicators\Block\FastShipping\Product">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="cache_lifetime" xsi:type="number">300</item>
            </argument>
        </arguments>
    </type>

    <type name="Smile\ElasticsuiteCatalog\Model\Autocomplete\Product\AttributeConfig">
        <arguments>
            <argument name="additionalSelectedAttributes" xsi:type="array">
                <item name="popular_icon" xsi:type="string">popular_icon</item>
            </argument>
        </arguments>
    </type>
</config>
